<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidtown.seesik">

    <application
        android:name="org.androidtown.seesik.CustomStartApp"
        android:allowBackup="true"
        android:icon="@drawable/seesik_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.androidtown.seesik.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoadingTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.androidtown.seesik.MainActivity" />
        <activity
            android:name="org.androidtown.seesik.Evaluation"
            android:label="평가" />
        <activity
            android:name="org.androidtown.seesik.SearchFood"
            android:label="음식 추가"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="org.androidtown.seesik.Tutorial" />
        <activity android:name="org.androidtown.seesik.DevInfo"></activity>
    </application>

</manifest>